body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #003c71; /* Indigo Airlines color */
  color: #fff;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand .logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.navbar-menu a:hover {
  text-decoration: underline;
}
